{% extends 'dashboard_base.html' %}
{% load static %}

{% block content %}

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Project: {{ project.name }} <small>Listing design</small></h3>
              </div>

              <div class="title_right">
                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Pages</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">

                    <p>Simple table with project listing with progress and editing options</p>

                    <!-- start project list -->
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 1%">#</th>
                          <th style="width: 20%">Page Name</th>
{#                          <th>Team Members</th>#}
{#                          <th>Project Progress</th>#}
{#                          <th>Status</th>#}
                          <th style="width: 20%">#Edit</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for page in project_pages %}
                        <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>
                            <a href="/dash/project/{{ project.id }}/page/{{ page.id }}">{{ page.name }}</a>
{#                            <br />#}
{#                            <small>Created by {{ project_owners|get_dict_value_for_key:proj.name }}</small>#}
                          </td>
{#                          <td>#}
{#                            <ul class="list-inline">#}
{#                              <li>#}
{#                                <img src="{% static 'd2/img/user.png' %}" class="avatar" alt="Avatar">#}
{#                              </li>#}
{#                              <li>#}
{#                                <img src="{% static 'd2/img/user.png' %}" class="avatar" alt="Avatar">#}
{#                              </li>#}
{#                              <li>#}
{#                                <img src="{% static 'd2/img/user.png' %}" class="avatar" alt="Avatar">#}
{#                              </li>#}
{#                              <li>#}
{#                                <img src="{% static 'd2/img/user.png' %}" class="avatar" alt="Avatar">#}
{#                              </li>#}
{#                            </ul>#}
{#                          </td>#}
{#                          <td class="project_progress">#}
{#                            <div class="progress progress_sm">#}
{#                              <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57"></div>#}
{#                            </div>#}
{#                            <small>57% Complete</small>#}
{#                          </td>#}
{#                          <td>#}
{#                            <button type="button" class="btn btn-success btn-xs">Success</button>#}
{#                          </td>#}
                          <td>
                            <a href="#" class="btn btn-primary btn-xs"><i cla   ss="fa fa-folder"></i> View </a>
                            <a href="#" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                            <a href="#" class="btn btn-danger btn-xs delete-object" data-object-id="{{ page.id }}"><i class="fa fa-trash-o"></i> Delete </a>
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                    <!-- end project list -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

{% endblock %}

{% block scripts %}

    <!-- jQuery -->
    <script type="text/javascript" src="{% static 'd2/vendors/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static 'd2/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- FastClick -->
    <script type="text/javascript" src="{% static 'd2/vendors/fastclick/lib/fastclick.js' %}"></script>
    <!-- NProgress -->
    <script type="text/javascript" src="{% static 'd2/vendors/nprogress/nprogress.js' %}"></script>
    <!-- bootstrap-progressbar -->
    <script type="text/javascript" src="{% static 'd2/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js' %}"></script>

    <!-- Custom Theme Scripts -->
    <script type="text/javascript" src="{% static 'd2/build/js/custom.min.js' %}"></script>

    <script>
    var els = document.getElementsByClassName("delete-object");

    Array.prototype.forEach.call(els, function(elm) {
        var objectID = elm.getAttribute('data-object-id');
        elm.addEventListener('click', function() {
            var ask = confirm('Are you sure?');
            if (ask && objectID) {
                var r = "Page will be redirected to </object/delete/" + objectID + "/>";
                alert(r);
                window.location.replace("/" + objectID + "/delete");
            } else {
                alert("User cancelled the dialog box...");
            }
            return false;
        });
    });
    </script>

{% endblock %}
